* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  background: white;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sfondo {
  width: 85%;
  margin: 0 auto;
}

/* parte header */

header {
 width: 100%;
 font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* barra navigazione superiore */
.navup {
  background-color: #F5F8FA;
  width: 100%;
}

.navup::after {
  content: "";
  display: table;
  clear: both;
}

.navsx {
  height: 30px;
  width: 42.5%;
  display: inline-block;
  margin: 10px 0;
}

.navdx {
  float: right;
  width: 42.5%;
  margin: 10px 0;
}

/* bottone scegli lingua */
.language {
  border-style: none;
  border-right: 1px solid #33475B;
  background-color: #F5F8FA;
  padding-right: 10px;
  color: #33475B;
  height: 30px;
}

.language:hover {
  cursor: pointer;
  background-color: orange;
}

/* bottone contatti */

.contact {
  padding-left: 10px;
  text-decoration: none;
  color: #33475B;
  height: 40px;
  font-size: 10pt;
  height: 30px;
}

.contact:hover {
  color: green;
}

/* bottone get HubSpot */
.navdx a {
  text-decoration: none;
  color: white;
  float: right;
  border: 1px solid #33475B;
  border-radius: 10px;
  background-color: #FF7A59;
  margin-left: 10px;
  padding: 5px;
  font-size: 10pt;
}

.navdx a:hover {
  background-color: green;
}

/* bottone ricerca */
.ricerca {
  float: right;
  width: 120px;
  border-style: none;
  border-radius: 10px;
  padding-left: 15px;
  background-image: url("immagini/ricerca.png");
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 5px;
}


/* barra navigazione inferiore */
.navtwo {
  width: 100%;
  background-color: #FFFFFF;
}

.navtwo::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  padding: 10px 0;
  float: left;
  width: 75%;
}

.menu {
  float: right;
  display: inline-block;
  width: 25%;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}

.menu ul li {
  float: left;
  right: 0;
  padding: 15px 0 15px 10px;
  list-style-type: none;
}

.menu ul li select {
  border-style: none;
}

.menu ul li select:hover {
  color: green;
}

.menu ul li a {
  text-decoration: none;
  color: #334765;
}

.menu ul li a:hover {
  color: green;
}

/* parte principale */
.principale {
  width: 100%;
  background: #F5F8FA;
}

/* primo blocco principale */
.row_unica {
  width: 100%;
  background-image: url("immagini/sfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row_unica .sfondo {
  position: relative;
  height: 400px;
}

.row_unica .sfondo .text {
  position: absolute;
  width: 25%;
  color: white;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  top: 25%;
}

.row_unica .sfondo .text h2 {
  font-size: 30pt;
}

.row_unica .sfondo .text p {
  font-size: 12pt;
  padding-top: 5%;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row_unica .sfondo a {
  color: #33475B;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  position: absolute;
  top: 75%;
  padding: 20px;
  border-radius: 10px;
}

.row_unica .sfondo a:hover {
  background-color: orange;
  border: 1px solid orange;
}

/* secondo blocco principale */
.colonna_unica {
  height: 400px;
  width: 70%;
  margin: 0 auto;
  background: #F5F8FA;
}

.colonna_unica .image {
  margin: 10px 0;
  height: 200px;
  width: 100%;
}

.colonna_unica .image .cubo {
  position: absolute;
  height: 200px;
  width: 250px;
  left: 50%;
  transform: translate(-50%, 0);
}

.colonna_unica .text {
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #334765;;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.colonna_unica .text h2 {
  font-size: 30pt;
}

.colonna_unica .text p {
  font-size: 12pt;
  padding-top: 5%;
}

/* blocco a due colonne */

.impa {
  width: 70%;
  margin: 0 auto;
  background: #FFFFFF;
}

.duecolonne {
  content: "";
  display: table;
  clear: both;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.duecolonne .colonnauno {
  height: 250px;
  width: 50%;
  float: left;
  position: relative;
}

.duecolonne .colonnadue {
  width: 50%;
  float: left;
  padding: 20px 0;
  color: #33475B;
}

.sizeimage {
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.duecolonne .colonnauno a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  color: white;
  border: 1px solid #FF7A59;
  background: #FF7A59;
  border-radius: 10px;
  padding: 10px;
}

.duecolonne .colonnauno a:hover {
  background-color: green;
  border: green;
}

.duecolonne .colonnadue p {
  padding: 20px 0;
  font-size: 10pt;
  font-family: inherit;
}

.duecolonne .colonnadue ul {
  padding-left: 20px;
}

.duecolonne .colonnadue li {
  list-style-image: url("immagini/spunta.png");
  float: left;
  padding-top: 10px;
  padding-right: 80px;
}

/* blocco a tre colonne */
.trecolonne {
  margin-top: 30px;
  background-color: #F5F8FA;
}

 .trecolonne:after {
   content: "";
   display: table;
   clear: both;
 }

 .colonna1 {
   margin-right: 5%;
 }
 .colonna2 {
   margin-right: 5%;;
 }

 .trecolonne .colonna1, .colonna2, .colonna3 {
   padding: 20px;
 }

.size {
  float: left;
  width: calc(90% / 3);
  background-color: #FFFFFF;
  position: relative;
}

.trecolonne  h4 {
  text-align: center;
}

.trecolonne p {
  padding: 20px 0;
  border-bottom: 1px solid #E5EAF0;
  color: #506172;
}

.trecolonne  h5 {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

.trecolonne ul {
  padding-top: 20px;
}

.trecolonne li {
  list-style-image: url("immagini/spunta.png");
  padding-top: 20px;
  margin-left: 20px;
}

.aref {
  position: relative;
  height: 100px;
}

.learn {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid #FF7A59;
  border-radius: 10px;
  padding: 20px;
  background: #FF7A59;
}

.learn:hover {
  background-color: green;
  border: green;
}

/* blocco unico */
.tuttapag {
  width: 100%;
  background-color: #00B6AC;
  margin-top: 80px;
  padding-top: 80px;
}

.tuttapag .textcentre {
  width: 40%;
  text-align: center;
  padding: 50px 0;
  color: white;
}

.tuttapag .textcentre p {
  padding-top: 20px;
  font-size: 10pt;
}

.table {
  background-color: #00B6AC;
}

.partesuperiore::after {
  content: "";
  display: table;
  clear: both;
}

.parteinferiore::after {
  content: "";
  display: table;
  clear: both;
}

.partesuperiore {
  width: 100%;
  border-bottom: 1px solid white;
}

.parteinferiore {
  width: 100%;
  padding-bottom: 80px;
}

.quadrato {
  float: left;
  width: 20%;
  padding-top: 10px;
}

.uno {
  margin-left: 10%;
}

.uno, .due, .tre {
  border-right: 1px solid white;
}

.allicone {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.table h2 {
  color: white;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

.table p {
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

/* blocco due colonne senza sfondo */

.blocco2row {
  margin-top: 200px;
}

.blocco2row::after {
  content: "";
  display: table;
  clear: both;
}

.colonnasx {
  height: 227px;
  margin: 40px;
  width: 40%;
  float: left;
}

.blocco2row .colonnasx h2 {
  text-align: center;
  padding: 10px 20%;
  color: #33475B;
  font-size: 60pt;
}

.blocco2row .colonnasx p {
  text-align: center;
  padding: 10px 20%;
  color: #33475B;
  font-size: 25pt;
}

.colonnarx {
  margin: 40px;
  width: 50%;
  float: left;
}

.colinferiore {
  margin: 40px 0;
}

.logowwebp {
  padding: 10px 40px;
}

.colonnasenzasfondo {
  margin-top: 300px;
  color: #33475B;
  padding-bottom: 200px;
}
.colonnasenzasfondo::after {
  content: "";
  display: table;
  clear: both;
}

.partesx {
  float: left;
  width:65%;
}

.partesx h2 {
  font-size: 30pt;
  padding-right: 40%;
}

.partesx p {
  font-size: 20pt;
  padding-right: 40%;
  padding-top: 30px;
  padding-bottom: 30px
}

.testosx {
  padding: 100px 0;
}

.profile {
  height: 800px;
  width: 500px;
}
.partedx {
  width: 35%;
  height: 500px;
  float: right;
  overflow: hidden;
  border: 1px solid #F2547D;
  background-color: #F2547D;
  border-radius: 50%;
}

.imagedx {
  width: 100%;
  overflow: hidden;
  border: 1px solid #F2547D;
  background-color: #F2547D;
  border-radius: 50%;
  padding: 0 20%;
}

.bothref a {
  color: white;
  text-decoration: none;
  border: 1px solid #FF7A59;
  padding: 40px;
  background: #FF7A59;
  border-radius: 10px;
}

.bothref a:hover {
  background: green;
  border: green;
}

.bothref p {
  margin-top: 30px;
  font-size: 10pt;
}
/* footer */
footer {
  width: 100%;
  background-color: #33475B;
}

/* parte superiore del footer */
.footerpartesopra{
  padding-top: 100px;
  width: 100%;
}

.footerpartesopra::after {
  content: "";
  display: table;
  clear: both;
}

.footerpartesopra a {
  color: #CBD6E2;
  text-decoration: none;
}

.footerpartesopra p {
  padding: 10px 0;
}

.footerpartesopra h3 {
  padding-bottom: 10px;
  color: white;
}

.float {
  width: calc(100%/4);
  float: left;
}

.footerpartesopra select {
  border-style: hidden;
  background: #33475B;
  color: white;
}

.footerpartesopra a:hover {
  color: #70D1DE;
}

.footerpartesopra select:hover {
  color: #70D1DE;
}

/* parte centrale del footer */
.footerpartecenter {
  width: 100%;
}

.footerpartecenter::after {
  content: "";
  display: table;
  clear: both;
}

.contact {
  width: 100%;
  margin: 20px 0;
  margin-left: 75%;
}

.contact::after {
  content: "";
  display: table;
  clear: both;
}

.contact a {
  border: 1px solid white;
  background: white;
  color: #33475B;
  padding: 10px;
  float: left;
  text-decoration: none;
  font-size: 15pt;
}

.contact a:hover {
  background-color: green;
  border: green;
  color: white;
}

.loghisocial {
  float: left;
  margin: 20px 0;
  margin-left: 75%;
}

.loghisocial .sociallog:hover {
  background: white;
}

.sociallog {
  margin-right: 10px;
}

.lingue {
  margin-top: 150px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: solid 1px #CBD6E2;
}

.lingue a{
  color: #CBD6E2;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16pt;
}

.lingue a:hover {
  color: #70D1DE;
}

/* parte inferiore del footer */

.footerparteinferiore {
 width: 100%;
}

.footerparteinferiore::after {
  content: "";
  display: table;
  clear: both;
}

.divsx {
  width: 50%;
  float: left;
  margin-top: 40px;
}

.footerparteinferiore p, a {
  color: #CBD6E2;
  padding: 20px 0;
  margin-bottom: 10px;
}

.divdx {
  width: 50%;
  float: left;
  margin-top: 40px;
  text-align: right;
}

.divdx a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 16pt;
}

.divdx a:hover {
  color: #70D1DE;
}
